<carousel>
  <slide>
    <img src="https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050_960_720.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293_960_720.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="https://cdn.pixabay.com/photo/2020/09/15/16/06/wreath-5574054_960_720.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>